/* Signup.css */
body {
    background-color: #DDE1E6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.signup-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #DDE1E6;
    text-align: center;
}

.logo {
    width: calc(100% - 20px);
    margin-bottom: "20px";
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-group {
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #6890cb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #697077;
}